<div class="toast-container">
    <div *ngFor="let toast of toasts$ | async" class="toast" [class]="'toast-' + toast.type">
        <div class="toast-icon">
            <span class="material-icons">{{ getToastIcon(toast.type) }}</span>
        </div>
        <div class="toast-content">
            <div class="toast-title" *ngIf="toast.title">{{ toast.title }}</div>
            <div class="toast-message">{{ toast.message }}</div>
        </div>
        <button class="toast-close" (click)="removeToast(toast.id)">
            <span class="material-icons">close</span>
        </button>
    </div>
</div>